<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Home</h1>
            <h2>Georgetown College Football 2019</h2>
        </div>
<div class="content">
            <h2 class="content-subhead">A brief summary</h2>
            <p>
                The Georgetown Tigers football program represents Georgetown College of Georgetown, 
                Kentucky in college football. The Tigers have been one of the most successful football 
                teams playing NAIA.
            </p>

            <h2 class="content-subhead">How was the season?</h2>
            <p>
                Georgetown College football went ended regular season play with a high note – 
                rallying from 28 points down to win on Senior Day. The good news continues to roll 
                as postseason accolades are being announced.<br>

                Seven players were named to the MSC Bluegrass Division All-Conference first or second team,
                while a rookie earned MSC Bluegrass Division Defensive Freshman of the Year honors. <br>

                JJ Ogbogu, Landon Corolla and Starr Thompson headlined the Tigers on the First-Team. 
                Sam Dingle, Shawn Gilliam, Jake Johnson and Tyler Dummer earned Second-Team, while Cortez 
                Thomas was recognized as an outstanding rookie.
            </p>

            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="img/hemet.jpg" alt="Gtown Football">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="img/stadium.jpg" alt="Toyota Stadium">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="img/gilly.jpg" alt="Gilly Catching">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="img/15.jpg" alt="15 Running">
                </div>
            </div>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <h2 class="content-subhead">Gtown Football</h2>
            <div class="twitter-timeline-wrapper">
                <a class="twitter-timeline" data-width="500" data-height="800" 
                    data-theme="dark" data-link-color="#2B7BB9" 
                    href="https://twitter.com/gtown_football?lang=en">
                    Tweets by Gtown Football
                </a> 
                <script async src="https://platform.twitter.com/widgets.js" 
                    charset="utf-8">
                </script>
            </div>

        </div>
        <% include partial/footer %>
        <% include partial/scripts %>

<% include partial/end %>